.error {
    color: red;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
}
.invalid {
    border: 1.5px solid red;
    outline: 1.5px solid red;
}
.valid {
    border: 1.5px solid limegreen;
    outline: 1.5px solid limegreen;
}
